# CMake Build Artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
sink.app/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon design source & temporary assets
icon.iconset/
icon.psd

# Release build scripts & artifacts
releases/
